
<% include ./layouts/header.ejs %>

<h2>Hello please login or register to save your secret</h2>

<a href="/login" >login</a>
<br />
<br />
<a href="/register">register</a>

<% include ./layouts/footer.ejs %>
