<% include ./layouts/header.ejs %>

<h2>Your secrets is here</h2>

<ur>
    <% secrets.forEach(secret => { %>
        <li><%= secret %></li>
    <% }) %>
</ur>

<br>

<a href="/logout">LOGOUT</a>


<% include ./layouts/footer.ejs %>
